<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>

<div id="wrapper">
    <div th:replace="~{fragments/side.html :: side}"></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Header -->
        <div id="content">
            <header th:replace="~{fragments/header.html :: header}"></header>

            <!--Main Content -->

            <div class="container-fluid">
                <div class="col-12">
                    <div class="card shadow mb-4">
                        <div class="card-header bg-white border-0 pl-3 pt-3 pb-0">
                            <h6 class="m-0 font-weight-bold text-primary mb-3">
                                시험 관리
                            </h6>

                            <div class="btn-group">
                                <div class="dropdown show">
                                    <button id="subject-dropdown" class="form-control bg-custom-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        과목
                                    </button>
                                    <div id="subject-dropdown-content" class="dropdown-menu" aria-labelledby="subject-dropdown">
                                        <!--subject content-->
                                    </div>
                                </div>
                            </div>

                            <div class="btn-group">
                                <div class="dropdown show">
                                    <button id="year-dropdown" class="form-control bg-custom-light dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        연도
                                    </button>
                                    <div id="year-content" class="dropdown-menu" aria-labelledby="year-dropdown">
                                        <!--year content-->
                                    </div>
                                </div>
                            </div>


                            <div class="float-right">
                                <button class="btn btn-light" data-toggle="modal" data-target="#add-exam-modal" onclick="prepareExamForm()">
                                    <img class="ml-2" th:src="@{/img/add_icon.png}" alt="">과목 추가
                                </button>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="load-user" class="table table-bordered" th:width="100" th:cellspacing="0">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">연도</th>
                                        <th scope="col">시험 이름</th>
                                    </tr>
                                    </thead>

                                    <!-- member list rendering-->
                                    <tbody id="examList"></tbody>
                                </table>

                                <!--Pagination rendering-->
                                <div class="paging pagination">

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

    <!-- Save modal -->
    <div class="modal fade" id="add-exam-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="card-heading">새로운 시험 추가</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span>×</span>
                    </button>
                </div>
                <form id="exam-form" class="form upload-form">
                    <div class="modal-body">
                        <div>
                            <div class="form-group">
                                <label>과목명</label>
                                <input type="text" required class="form-control selectedSubjectName" disabled
                                       title="Required and no space allowed">
                            </div>
                        </div>

                        <div>
                            <div class="form-group">
                                <label>시험 이름(정보)</label>
                                <input id="examName" type="text" required class="form-control"
                                       title="Required and no space allowed">
                            </div>
                        </div>

                        <div>
                            <div class="form-group">
                                <label>연도</label>
                                <input id="examYear" type="number" required class="form-control"
                                       title="Required and no space allowed">
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" value="" name="save" class="btn btn-primary" th:onclick="saveExam()">
                            <img class="loading-save" alt="save"  style="display:none;" th:src="@{/img/loading.gif}" width=30 height=30>
                            저장
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- update modal -->
    <div class="modal fade" id="update-exam-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="card-heading">시험 정보 수정</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span>×</span>
                    </button>
                </div>
                <form id="update-exam-form" class="form upload-form">
                    <div class="modal-body">
                        <div>
                            <div class="form-group">
                                <label>과목명</label>
                                <input type="text" required class="form-control selectedSubjectName" disabled
                                       title="Required and no space allowed">
                            </div>
                        </div>

                        <div>
                            <div class="form-group">
                                <label>시험 이름(정보)</label>
                                <input id="newExamName" type="text" required class="form-control"
                                       title="Required and no space allowed">
                            </div>
                        </div>

                        <div>
                            <div class="form-group">
                                <label>연도</label>
                                <input id="newExamYear" type="number" required class="form-control"
                                       title="Required and no space allowed">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" value="" name="save" class="btn btn-primary" th:onclick="updateExam()">
                            <img class="loading-save" alt="save"  style="display:none;" th:src="@{/img/loading.gif}" width=30 height=30>
                            저장
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            취소
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>


<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<script src="/js/exam.js"></script>

</body>
</html>