<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>

<div id="wrapper">
    <div th:replace="~{fragments/side.html :: side}"></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Header -->
        <div id="content">
            <header th:replace="~{fragments/header.html :: header}"></header>

            <!--Main Content -->

            <div class="container-fluid">
                <div class="col-12">
                    <div class="card shadow mb-4">
                        <div class="card-header bg-white border-0 pl-3 pt-3 pb-0">
                            <h6 class="m-0 font-weight-bold text-primary mb-3">
                                시험 관리
                            </h6>

                            <div class="btn-group">
                                <button id="subjectSearchBar" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    과목 검색
                                </button>
                                <div class="dropdown-menu">
                                    <div class="input-group-text">
                                        <input type="text" class="form-control" placeholder="Search..." onChange="handleInput()"
                                               aria-label="Recipient's username" aria-describedby="button-addon2">
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <ul id="search-result" class="list-group"></ul>
                                </div>

                                <div id="selectedSubject" class="ml-4 bg-light">

                                </div>
                            </div>


                            <div class="float-right">
                                <button class="btn btn-light" data-toggle="modal" data-target="#add-exam-modal" >
                                    <img class="ml-2" th:src="@{/img/add_icon.png}" alt="">과목 추가
                                </button>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="load-user" class="table table-bordered" th:width="100" th:cellspacing="0">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">번호</th>
                                        <th scope="col">시험 이름</th>
                                    </tr>
                                    </thead>

                                    <!-- member list rendering-->
                                    <tbody id="examList"></tbody>
                                </table>

                                <!--Pagination rendering-->
                                <div class="paging pagination">

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

    <!-- Save modal -->
    <div class="modal fade" id="add-exam-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="card-heading">새로운 시험 추가</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form id="exam-form" class="form upload-form">
                    <div class="modal-body">
                        <div>
                            <input type="hidden" name="id" id="id">
                            <div class="form-group">
                                <label>과목 이름</label>
                                <input id="newExamName" type="text" required class="form-control" name="newSubjectName"
                                       title="Required and no space allowed">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="button" value="" name="save" class="btn btn-primary" th:onclick="saveExam()">
                            <img class="loading-save" alt="save"  style="display:none;" th:src="@{/img/loading.gif}" width=30 height=30>
                            저장
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>


<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>
<script th:inline="javascript">
    let selectedSubjectId;
    let selectedSubjectName;

    window.onload = function(){
        selectedSubjectId = sessionStorage.getItem("subjectId");
        selectedSubjectName = sessionStorage.getItem("subjectName");

        if(selectedSubjectId && selectedSubjectName){
            sessionStorage.removeItem("subjectId");
            sessionStorage.removeItem("subjectName");

            $.ajax({
               url: `/admin/subject/${selectedSubjectId}/exam`,
                type: 'GET',
                success: function(examList){
                   loadData(examList);
                   changeButtonName(selectedSubjectName)
                }

            });

        }
    }

    function handleInput(){
        // 검색 결과를 넣을 창 선택
        const parentElement = document.querySelector('#search-result');
        // 검색 한 단어 선택
        const searchedWord = document.querySelector('.form-control').value;

        // 기존에 검색 결과 지우기
        parentElement.innerHTML = '';

        // 검색한 단어의 길이가 0(검색을 안한 경우) 그대로 반환
        if(searchedWord.length === 0){
            return;
        }

        // api 검색
        $.ajax({
            url: '/admin/subject/dropdown',
            type: 'GET',
            data: {
                name: searchedWord,
            },
            success: function(subjects){
                if(subjects.length > 0){
                    subjects.forEach((subject) => {
                        const listGroup = document.createElement('li');
                        listGroup.className = 'list-group-item';
                        listGroup.textContent = subject.name;
                        parentElement.appendChild(listGroup);
                        listGroup.addEventListener('click', () => selectSubject(subject.id, subject.name));

                        console.log(`id = ${subject.id}`);
                        console.log(`name = ${subject.name}`);
                    });
                } else{
                    const listGroup = document.createElement('li');
                    listGroup.className = 'list-group-item';
                    listGroup.textContent = '검색 결과가 없습니다';
                    parentElement.appendChild(listGroup);
                }
            },

        })

    }

    function selectSubject(subjectId, subjectName){
        selectedSubjectId = subjectId;
        selectedSubjectName = subjectName;

        $.ajax({
            url: `/admin/subject/${subjectId}/exam`,
            type: 'GET',
            success: function(examList){
                loadData(examList);

                console.log('선택한 과목 = ' + subjectName);
                changeButtonName(subjectName);
            }
        })
    }

    function loadData(examList){
        if(!examList || examList.length === 0){
            document.getElementById('examList').innerHTML = `
                <tr>
                    <td colspan="2" class="text-center">등록된 시험이 없습니다.</td>
                </tr>
            `
        } else{
            drawList(examList);
        }
    }

    function drawList(list){
        let html = '';

        list.forEach((row) => {
            html += `
                <tr>
                    <td>${row.id}</td>
                    <td>
                    <div class="d-flex justify-content-between">
                        ${row.name}
                        <button onclick="removeExam(${row.id})" class="btn btn-default" type="button">
                            <img class="" alt="remove" src="/img/trash.svg" >
                        </button>
                    </div>
                    </td>
                </tr>
            `;
        });

        document.getElementById('examList').innerHTML = html;
    }


    function removeExam(examId){
        if(!confirm('정말 삭제하시겠습니까?')){
            return;
        }
        $.ajax({
            type: "DELETE",
            url: '/admin/exam/' + examId,
            success: function (){
                selectSubject(selectedSubjectId, selectedSubjectName);
            }

        })
    }

    function changeButtonName(subjectName){
        document.querySelector('#subjectSearchBar').textContent = subjectName;
        document.querySelector('.form-control').value = '';
        document.querySelector('#search-result').innerHTML = '';
    }

    function saveExam(){
        const name = document.querySelector('#newExamName').value;


    }

    function hideModal(){
        $('#add-subject-modal').modal('hide');
    }



</script>

</body>
</html>