<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>

<div id="wrapper">
    <div th:replace="~{fragments/side.html :: side}"></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content-->
        <div id="content">
            <header th:replace="~{fragments/header.html :: header}"></header>


            <!--    Main Content from here         -->

            <div class="container-fluid">
                <div class="col-12">
                    <div class="card shadow mb-4">
                        <div class="card-header bg-white border-0 pl-3 pt-3 pb-0">
                            <h6 class="m-0 font-weight-bold text-primary mb-3">
                                유저 관리
                            </h6>

                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="load-user" class="table table-bordered" th:width="100" th:cellspacing="0">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">번호</th>
                                        <th scope="col">이메일</th>
                                        <th scope="col">이름</th>
                                        <th scope="col">가입경로</th>
                                        <th scope="col">구독 정보</th>
                                    </tr>
                                    </thead>

                                    <!-- member list rendering-->
                                    <tbody id="memberList"></tbody>
                                </table>

                                <!--Pagination rendering-->
                                <div class="paging pagination">

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

</div>


<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>

<script th:inline="javascript">
    window.onload = function () {
        loadMember();
    }

    function loadMember(){
        const response = /*[[ ${response} ]]*/[];
        const params = /*[[ ${params} ]]*/ {};
        const { content, ...pagination } = response;

        console.log(content);
        console.log(params);

        drawList(content);

        console.log(pagination);

        drawPage(pagination, params);
    }

    function drawList(list){
        let html = '';

        list.forEach(row => {
            html += `
                <tr>
                    <td>${row.id}</td>
                    <td>${row.email}</td>
                    <td>${row.username}</td>
                    <td>${row.platform}</td>
                    <td>${row.role}</td>
                </tr>
            `;
        });

        document.getElementById('memberList').innerHTML = html;
    }

    function drawPage(pagination, params) {

        if (!pagination || !params) {
            document.querySelector('.paging').innerHTML = '';
            return;
        }

        let html = '<ul class="pagination">';

        const currentPage = pagination.pageable.pageNumber;
        const totalPages = pagination.totalPages;

        // 첫페이지
        if (currentPage > 0) {
            html += `
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0);" onclick="movePage(0)">첫 페이지</a>
                </li>
            `;
        }

        const startPage = Math.max(0, currentPage - 2);
        const endPage = Math.min(totalPages - 1, currentPage + 2);

        for(let i = startPage; i <= endPage; i++){
            if(i === currentPage){
                html += `
                            <li class="page-item active">
                                <a class="page-link">${i + 1} <span class="sr-only">(current)</span> </a>
                            </li>
                        `;
            } else{
                html += `
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0);" onclick="movePage(${i})">${i + 1}</a>
                    </li>
                `;
            }
        }

        if(currentPage < totalPages - 1){
            html += `
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0);" onclick="movePage(${totalPages - 1})">마지막 페이지</a>
                </li>
            `;
        }

        html += `</ul>`;

        document.querySelector('.paging').innerHTML = html;
    }

    function movePage(page){
        const params = {
            page: (page) ? page : 0,
            size: 10,
        }

        location.href = location.pathname + '?' + new URLSearchParams(params).toString();
    }


</script>


</body>
</html>