<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>

<div id="wrapper">
    <div th:replace="~{fragments/side.html :: side}"></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Header -->
        <div id="content">
            <header th:replace="~{fragments/header.html :: header}"></header>

            <!--Main Content -->
            <div class="container-fluid">
                <div class="col-12">
                    <div class="card shadow mb-4">
                        <div class="card-header bg-white border-0 pl-3 pt-3 pb-0">
                            <h6 class="m-0 font-weight-bold text-primary mb-3">
                                문제 관리
                            </h6>

                            <div class="btn-group">
                                <button id="subjectSearchBar" type="button"
                                        class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    과목 검색
                                </button>
                                <div class="dropdown-menu">
                                    <div class="input-group-text">
                                        <input type="text" class="form-control" placeholder="Search..."
                                               onChange="handleInput()"
                                               aria-label="Recipient's username" aria-describedby="button-addon2">
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <ul id="search-result" class="list-group"></ul>
                                </div>
                                <div id="selectedSubject" class="bg-light">
                                </div>
                            </div>

                            <div class="btn-group">
                                <label for="yearList"></label>
                                <select id="yearList" name="yearList" class="form-control bg-custom-light"
                                        onchange="inputYearHandle()">
                                    <option value="">연도 선택</option>
                                    <option id="selectedYear" th:each="year : ${examYearList}" th:value="${year}"
                                            th:text="${year}" th:selected="${year == examYearList}">
                                    </option>
                                </select>
                            </div>

                            <div class="btn-group">
                                <label for="examList"></label>
                                <select id="examList" name="examList" class="form-control bg-custom-light">

                                    <option value="">시험 선택</option>
                                </select>
                            </div>


                            <div class="btn-group">
                                <button class="btn btn-outline-secondary" onclick="handleSearchClick()">
                                    <img src="/img/search.svg" alt="search">
                                </button>
                            </div>


                            <div class="float-right">
                                <button class="btn btn-light" data-toggle="modal" data-target="#add-problem-modal" onclick="prepareProblemForm()">

                                    <img class="ml-2" th:src="@{/img/add_icon.png}" alt="">문제 추가
                                </button>
                            </div>
                        </div>

                        <!-- 문제 데이터 -->
                        <div id="examTable" class="card-body"></div>

                        <!--<div className="card shadow-sm mb-4">
                        <div className="card-header bg-primary text-white">
                            <h5 className="mb-0">Question 1</h5>
                        </div>
                        <div className="card-body">
                            <div className="mb-3">
                                <h6 className="fw-bold">다음중 옳은것을 고르시오</h6>
                            </div>
                            <div className="choices list-group">
                                <button className="list-group-item list-group-item-action">
                                    1. 가나다라
                                </button>
                                <button className="list-group-item list-group-item-action">
                                    2. 마바사아
                                </button>
                                <button className="list-group-item list-group-item-action">
                                    3. 자카타파하
                                </button>
                                <button className="list-group-item list-group-item-action">
                                    4. 에이비씨
                                </button>
                            </div>
                        </div>
                        </div>-->


                    </div>

                </div>
            </div>

        </div>

    </div>



    <!-- Save modal -->
    <div class="modal fade" id="add-problem-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">새로운 문제 추가</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span>×</span>
                    </button>
                </div>
                <form id="problem-form" class="form upload-form">
                    <div class="modal-body">
                        <!-- Existing Exam Details Fields -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="subjectTitle">과목</label>
                                    <input id="subjectTitle" type="text" class="form-control selectedSubjectName" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="examName">시험 이름</label>
                                    <input id="examName" type="text" required class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="examYear">연도</label>
                                    <input id="examYear" type="number" required class="form-control" disabled>
                                </div>
                            </div>
                        </div>

                        <!-- Problem Details -->
                        <div class="form-group">
                            <label for="problemNumber">문제 번호</label>
                            <input id="problemNumber" type="number" required class="form-control" min="1">
                        </div>


                        <div class="form-group">
                            <label for="problemContent">문제 내용</label>
                            <textarea id="problemContent" required class="form-control" rows="3"></textarea>
                        </div>

                        <!-- Choices Section -->
                        <div class="form-group">
                            <label>선택지</label>
                            <div id="choicesContainer">

                            </div>

                            <!-- Add Choice Button -->
                            <button type="button" class="btn btn-outline-secondary mt-2" id="addChoiceBtn">
                                <i class="fas fa-plus"></i> 선택지 추가
                            </button>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" value="" name="save" class="btn btn-primary" th:onclick="handleSaveClick()">
                            <img class="loading-save" alt="save"  style="display:none;" th:src="@{/img/loading.gif}" width=30 height=30>
                            저장
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>

<script>
    let selectedSubjectId;
    let selectedSubjectName;
    let selectedYear;
    let selectedExamId;
    let selectedExamName;

    window.onload = function() {
        const choicesContainer = document.getElementById('choicesContainer');
        const addChoiceBtn = document.getElementById('addChoiceBtn');

        addChoiceBtn.addEventListener('click', function() {
            const choiceRow = document.createElement('div');
            choiceRow.className = 'choice-row input-group mb-2';


            choiceRow.innerHTML = `
            <input type="text" class="form-control choiceContent" required>
            <div class="input-group-append">
                <div class="input-group-text">
                    <input type="checkbox" class="isAnswer" aria-label="정답 체크">
                </div>
                <button class="btn btn-outline-danger remove-choice-btn" type="button">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        `;

            const removeBtn = choiceRow.querySelector('.remove-choice-btn');
            removeBtn.addEventListener('click', () => choiceRow.remove());

            choicesContainer.appendChild(choiceRow);
        });


    };

    function handleInput() {
        // 검색 결과를 넣을 창 선택
        const parentElement = document.querySelector('#search-result');
        // 검색 한 단어 선택
        const searchedWord = document.querySelector('.form-control').value;

        // 기존에 검색 결과 지우기
        parentElement.innerHTML = '';

        // 검색한 단어의 길이가 0(검색을 안한 경우) 그대로 반환
        if (searchedWord.length === 0) {
            return;
        }

        // api 검색
        $.ajax({
            url: '/admin/subject/dropdown',
            type: 'GET',
            data: {
                name: searchedWord,
            },
            success: function (subjects) {
                if (subjects.length > 0) {
                    subjects.forEach((subject) => {
                        const listGroup = document.createElement('li');
                        listGroup.className = 'list-group-item';
                        listGroup.textContent = subject.name;
                        parentElement.appendChild(listGroup);
                        listGroup.addEventListener('click', () => selectSubject(subject.id, subject.name));
                    });
                } else {
                    const listGroup = document.createElement('li');
                    listGroup.className = 'list-group-item';
                    listGroup.textContent = '검색 결과가 없습니다';
                    parentElement.appendChild(listGroup);
                }
            },

        })

    }

    function selectSubject(subjectId, subjectName) {
        selectedSubjectId = subjectId;
        selectedSubjectName = subjectName;
        document.querySelector('#subjectSearchBar').textContent = selectedSubjectName;

        clearYearDropdown();
        clearExamDropdown();
    }
    function clearYearDropdown(){

        const yearList = document.getElementById('yearList');
        yearList.value = '';
        selectedYear = null;
    }

    function clearExamDropdown(){
        const examList = document.getElementById('examList');
        examList.innerHTML = '';
        const defaultOption = document.createElement('option');
        defaultOption.value = '';
        defaultOption.textContent = '시험 선택';
        examList.appendChild(defaultOption);
        selectedExamId = null;
    }

    async function inputYearHandle() {
        selectedYear = document.getElementById('yearList').value;

        if (selectedSubjectId && selectedYear) {
            await loadExamList();
        }
    }

    async function loadExamList() {
        const parentElement = document.getElementById('examList');
        try {

            const exams = await fetchExamList();

            parentElement.innerHTML = '';
            const defaultOption = document.createElement('option');
            defaultOption.value = "";
            defaultOption.textContent = "시험 선택";
            parentElement.appendChild(defaultOption);

            exams.forEach((exam) => {
                const option = document.createElement('option');
                option.value = exam.id;
                option.textContent = exam.name;
                parentElement.appendChild(option);
            });

        } catch (error) {
            console.error('Error loading exam list:', error);
        }
    }


    async function fetchExamList() {
        try {
            const response = await fetch(`/admin/subject/${selectedSubjectId}/exam?year=${selectedYear}`);
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
            const examList = await response.json(); // Parse the JSON response
            console.log(`Fetched exam data =`, examList);
            return examList;
        } catch (error) {
            console.error(`Error fetching exam list:`, error);
            return [];
        }
    }

    document.getElementById('examList').addEventListener('change', function () {
        const selectedValue = this.value;

        selectedExamId = selectedValue || null;
        selectedExamName = this.selectedOptions[0].textContent || null;

        console.log('시험 이름 = ', selectedExamName);
    })


    async function handleSearchClick() {
        try {
            const problemList = await getProblemData(selectedExamId);
            loadProblemData(problemList);
        } catch (error) {
            console.error('Error fetching problem data:', error);
        }
    }

    async function getProblemData(examId){
        try{
            const response = await fetch(`/admin/problem/list?examId=${examId}`);
            if (!response.ok) {
                throw new Error(`error ${response.status}`);
            }
            return response.json();
        } catch (error) {
            console.log(error);
        }
    }


    function loadProblemData(problemList) {
        const examTable = document.getElementById('examTable');
        examTable.innerHTML = '';
        let html = '';

        problemList.forEach((problem) => {
            const choiceList = problem.choices;
            const choiceHTML = loadChoiceData(choiceList);
            const problemId = problem.id;

            html += `
                <div id="problem-${problemId}" class="card shadow-sm mb-4" data-problem-id="${problemId}">
                    <div class="card-header bg-primary text-white">
                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0">
                                문제<span class="ml-2 problem-number">${problem.number}</span>
                            </h5>
                            <div class="d-flex justify-content-end">
                                <button class="editBtn btn btn-outline-light" onclick="handleUpdateClick(${problemId})">
                                    <img class="editImg" src="/img/edit.svg" alt="">
                                </button>
                                <button class="removeBtn btn btn-outline-light" onclick="handleRemoveProblem(${problemId})">
                                    <img src="/img/trash.svg" alt="">
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <h6 class="problem-content font-weight-bold">${problem.content}</h6>
                        </div>

                        <div class="choices list-group">${choiceHTML}</div>
                    </div>
                </div>
            `
        })

        examTable.innerHTML = html;
    }

    function loadChoiceData(choiceList){
        let html = ``;
        choiceList.forEach((choice) => {
            const choiceId = choice.id;
            const border = choice.isAnswer ? 'border border-danger' : '';
            html += `
                <div class="list-group-item list-group-item-action d-flex align-items-center choice-item ${border}" data-choice-id="${choiceId}">
                    <div class="choice-number mr-2">${choice.number}</div>
                    <div class="choice-content flex-grow-1">${choice.content}</div>

                    <div class="d-none align-items-center answer-remove-form">
                        <div class="form-check mr-2">
                            <input class="form-check-input isAnswer" type="checkbox" value="" id='checkBox=${choiceId}' ${choice.isAnswer ? 'checked' : ''}>
                            <label class="form-check-label" for='checkBox=${choiceId}'>정답</label>
                        </div>
                        <button class="btn btn-sm btn-outline-secondary p-1 isRemove" onclick="handleRemoveChoiceClick(${choiceId})">
                            <img src="/img/trash.svg" alt="" class="m-1">
                        </button>
                    </div>

                </div>
            `
        });

        return html;
    }

    function handleRemoveChoiceClick(){

    }

    async function handleSaveClick(){
        try{
            const problemNumber = Number(document.getElementById('problemNumber').value);
            console.log(`문제 번호=`, problemNumber)

            const problemContent = document.getElementById('problemContent').value;
            console.log(`문제 내용 = ${problemContent}`)

            const choiceContainer = document.getElementById('choicesContainer');
            const choiceRows = choiceContainer.querySelectorAll('.choice-row');
            const choiceCreateRequest = [];
            let choiceNumber = 1;
            choiceRows.forEach((choiceRow) => {
                const isAnswer = choiceRow.querySelector('.isAnswer').checked;
                const choiceContent = choiceRow.querySelector('.choiceContent').value;
                const choice = {
                    number: choiceNumber,
                    content: choiceContent,
                    isAnswer: isAnswer,
                };
                choiceCreateRequest.push(choice);
                choiceNumber++;
            });

            const problemCreateRequest = {
                number: problemNumber,
                content: problemContent,
                choices: choiceCreateRequest
            };

            console.log(`문제 데이터 = `, problemCreateRequest);

            await saveProblem(problemCreateRequest);
            console.log(`시험 번호 = ${selectedExamId}`);
            const problemList = await getProblemData(selectedExamId);
            loadProblemData(problemList);
        } catch (error){
            throw new error('');
        }
    }

    async function saveProblem(problemCreateRequest){
        try{
            await fetch(`/admin/problem?examId=${selectedExamId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(problemCreateRequest),
            });

            $('#add-problem-modal').modal('hide');
        } catch (error){
            throw new error('');
        }



    }


    function handleUpdateClick(problemId){
        const parentElement = document.getElementById(`problem-${problemId}`);

        // 문제 번호
        const problemNumber = parentElement.querySelector('.problem-number');

        // 문제 내용
        const problemContent = parentElement.querySelector('.problem-content');

        problemNumber.contentEditable = true;
        problemContent.contentEditable = true;
        const choices = parentElement.querySelectorAll('.choice-item');

        choices.forEach((choice) => {
            console.log(`id = ${choice.dataset.choiceId}`);
            const choiceNumber = choice.querySelector('.choice-number');
            const choiceContent = choice.querySelector('.choice-content');

            choiceNumber.contentEditable = true;
            choiceContent.contentEditable = true;

        })

        const answerRemoveForm = parentElement.querySelectorAll('.answer-remove-form');
        answerRemoveForm.forEach((form) => {
            form.classList.remove('d-none');
            form.classList.add('d-flex');
        })

        const editImg = parentElement.querySelector('.editImg');
        editImg.src = `/img/save.svg`;

        const btn = parentElement.querySelector('.editBtn');
        btn.onclick = () => completeUpdate(problemId);
    }

    function completeUpdate(problemId){
        problemId = Number(problemId);

        const parentElement = document.getElementById(`problem-${problemId}`);

        // 문제 번호
        const problemNumber = parentElement.querySelector('.problem-number');

        // 문제 내용
        const problemContent = parentElement.querySelector('.problem-content');

        console.log(`새로운 내용 = `, problemContent.textContent);
        problemNumber.contentEditable = false;
        problemContent.contentEditable = false;
        const answerRemoveForm = parentElement.querySelectorAll('.answer-remove-form');
        answerRemoveForm.forEach((form) => {
            form.classList.remove('d-flex');
            form.classList.add('d-none');
        })

        const choices = parentElement.querySelectorAll('.choice-item');

        const choiceList = [];

        choices.forEach((choice) => {
            const checkBox = choice.querySelector('.answer-remove-form');
            const isAnswer = checkBox.querySelector('.isAnswer').checked;
            const isRemove = checkBox.querySelector('.isRemove');
            console.log(`삭제 = `, isRemove);


            const choiceNumber = choice.querySelector('.choice-number');
            const choiceContent = choice.querySelector('.choice-content');

            choiceNumber.contentEditable = false;
            choiceContent.contentEditable = false;

            choiceList.push({
                id: Number(choice.dataset.choiceId),
                number: Number(choiceNumber.textContent),
                content: choiceContent.textContent,
                isAnswer: isAnswer,
                isDeleted: false

            })

        })

        const problemUpdateRequest = {
            number: problemNumber.textContent,
            content: problemContent.textContent,
            choices: choiceList
        }

        updateProblem(problemId, problemUpdateRequest);

        const editImg = parentElement.querySelector('img');
        editImg.src = `/img/edit.svg`;

        const btn = parentElement.querySelector('.editBtn');
        btn.onclick = () => handleUpdateClick(problemId);

        console.log(choiceList);
    }

    async function updateProblem(problemId, problemUpdateRequest){
        try{
            const response = await fetch(`/admin/problem/${problemId}`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(problemUpdateRequest),
            });

            if(!response.ok){
                throw new Error('');
            }

            const problemList = await getProblemData(selectedExamId);
            loadProblemData(problemList);

        } catch(error){
            console.log(error);
        }
    }


    async function handleRemoveProblem(problemId){
        try{
            if(!confirm('정말 삭제하시겠습니까?')){
                return;
            }

            await fetch(`/admin/problem/${problemId}`, {
                method: 'DELETE',
            });

            const problemList = await getProblemData(selectedExamId);
            loadProblemData(problemList);
        } catch(error){
            throw new Error('');
        }
    }

    function prepareProblemForm(){
        const subjectTitle = document.getElementById('subjectTitle');
        const examName = document.getElementById('examName');
        const examYear = document.getElementById('examYear');

        subjectTitle.value = selectedSubjectName;
        examYear.value = selectedYear;
        examName.value = selectedExamName;
    }


</script>

</body>
</html>