<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
</head>
<body>

<div id="wrapper">
    <div th:replace="~{fragments/side.html :: side}"></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Header -->
        <div id="content">
            <header th:replace="~{fragments/header.html :: header}"></header>

            <!--Main Content -->
            <div class="container-fluid">
                <div class="col-12">
                    <div class="card shadow mb-4">
                        <div class="card-header bg-white border-0 pl-3 pt-3 pb-0">
                            <h6 class="m-0 font-weight-bold text-primary mb-3">
                                문제 관리
                            </h6>

                            <div class="btn-group">
                                <button id="subjectSearchBar" type="button"
                                        class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    과목 검색
                                </button>
                                <div class="dropdown-menu">
                                    <div class="input-group-text">
                                        <input type="text" class="form-control" placeholder="Search..."
                                               onChange="handleInput()"
                                               aria-label="Recipient's username" aria-describedby="button-addon2">
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <ul id="search-result" class="list-group"></ul>
                                </div>
                                <div id="selectedSubject" class="bg-light">
                                </div>
                            </div>

                            <div class="btn-group">
                                <label for="yearList"></label>
                                <select id="yearList" name="yearList" class="form-control bg-custom-light"
                                        onchange="inputYearHandle()">
                                    <option value="">연도 선택</option>
                                    <option id="selectedYear" th:each="year : ${examYearList}" th:value="${year}"
                                            th:text="${year}" th:selected="${year == examYearList}">
                                    </option>
                                </select>
                            </div>

                            <div class="btn-group">
                                <label for="examList"></label>
                                <select id="examList" name="examList" class="form-control bg-custom-light">

                                    <option value="">시험 선택</option>
                                </select>
                            </div>


                            <div class="btn-group">
                                <button class="btn btn-outline-secondary" onclick="handleSearchClick()">
                                    <img src="/img/search.svg" alt="search">
                                </button>
                            </div>


                            <div class="float-right">
                                <button class="btn btn-light" data-toggle="modal" data-target="#add-problem-modal" onclick="prepareProblemForm()">

                                    <img class="ml-2" th:src="@{/img/add_icon.png}" alt="">문제 추가
                                </button>
                            </div>
                        </div>

                        <!-- 문제 데이터 -->
                        <div id="examTable" class="card-body"></div>

                        <!--<div className="card shadow-sm mb-4">
                        <div className="card-header bg-primary text-white">
                            <h5 className="mb-0">Question 1</h5>
                        </div>
                        <div className="card-body">
                            <div className="mb-3">
                                <h6 className="fw-bold">다음중 옳은것을 고르시오</h6>
                            </div>
                            <div className="choices list-group">
                                <button className="list-group-item list-group-item-action">
                                    1. 가나다라
                                </button>
                                <button className="list-group-item list-group-item-action">
                                    2. 마바사아
                                </button>
                                <button className="list-group-item list-group-item-action">
                                    3. 자카타파하
                                </button>
                                <button className="list-group-item list-group-item-action">
                                    4. 에이비씨
                                </button>
                            </div>
                        </div>
                        </div>-->


                    </div>

                </div>
            </div>

        </div>

    </div>



    <!-- Save modal -->
    <div class="modal fade" id="add-problem-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">새로운 문제 추가</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span>×</span>
                    </button>
                </div>
                <form id="problem-form" class="form upload-form">
                    <div class="modal-body">
                        <!-- Existing Exam Details Fields -->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="subjectTitle">과목</label>
                                    <input id="subjectTitle" type="text" class="form-control selectedSubjectName" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="examName">시험 이름</label>
                                    <input id="examName" type="text" required class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="examYear">연도</label>
                                    <input id="examYear" type="number" required class="form-control" disabled>
                                </div>
                            </div>
                        </div>

                        <!-- Problem Details -->
                        <div class="form-group">
                            <label for="problemNumber">문제 번호</label>
                            <input id="problemNumber" type="number" required class="form-control" min="1">
                        </div>


                        <div class="form-group" id="problemContent">
                            <!--<label for="problemContent">문제 내용</label>
                            <textarea id="problemContent" required class="form-control" rows="3"></textarea>-->
                        </div>

                        <!-- Choices Section -->
                        <div class="form-group">
                            <label>선택지</label>
                            <div id="choicesContainer">

                            </div>

                            <!-- Add Choice Button -->
                            <button type="button" class="btn btn-outline-secondary mt-2" id="addChoiceBtn">
                                <i class="fas fa-plus"></i> 선택지 추가
                            </button>
                        </div>

                        <div class="form-group">
                            <input type="file" class="formFile">
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" value="" name="save" class="btn btn-primary" th:onclick="handleSaveClick()">
                            <img class="loading-save" alt="save"  style="display:none;" th:src="@{/img/loading.gif}" width=30 height=30>
                            저장
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>



<!-- Include the Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

<script th:src="@{/js/problem.js}"></script>


</body>
</html>