<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>

<div id="wrapper">
    <div th:replace="~{fragments/side.html :: side}"></div>
    <div id="content-wrapper" class="d-flex flex-column bg-light">
        <!-- Main Content-->
        <div id="content">
            <header th:replace="~{fragments/header.html :: header}"></header>
            <div class="container-fluid">
                <div class="col-12">
                    <div class="card shadow mb-4">
                        <div class="card-header bg-white border-0 pl-3 pt-3 pb-0">
                            <h6 class="m-0 font-weight-bold text-primary mb-3">
                                과목 관리
                            </h6>
                            <div class="float-right">
                                <button class="btn btn-light" data-toggle="modal" data-target="#add-subject-modal" >
                                    <img class="ml-2" th:src="@{/img/add_icon.png}" alt="">과목 추가
                                </button>
                            </div>

                        </div>


                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="load-data" class="table table-bordered" th:width="100" th:cellspacing="0">
                                    <thead class="thead-light">
                                    <tr>
                                        <th scope="col">번호</th>
                                        <th scope="col">과목 이름</th>
                                    </tr>
                                    </thead>

                                    <!-- subject list rendering-->
                                    <tbody id="subjectList"></tbody>
                                </table>

                                <!--Pagination rendering-->
                                <div class="paging pagination">

                                </div>

                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

    <!-- Save Modal -->
    <div class="modal fade" id="add-subject-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="card-heading">새로운 과목 추가</h4>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form id="subject-form" class="form upload-form">
                    <div class="modal-body">
                        <div>
                            <input type="hidden" name="id" id="id">
                            <div class="form-group">
                                <label>과목 이름</label>
                                <input type="text" required class="form-control" name="newSubjectName" id="newSubjectName"
                                       title="Required and no space allowed">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        <button type="button" value="" name="save" class="btn btn-primary" th:onclick="saveSubject()">
                            <img class="loading-save" style="display:none;" th:src="@{/img/loading.gif}" width=30 height=30>
                            저장
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>



</div>




<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>
<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
<!-- Page level custom scripts -->
<script th:src="@{/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/js/demo/chart-pie-demo.js}"></script>
<script th:inline="javascript">
    let currentPage = 0;
    let size = 10;

    window.onload = function () {
        loadData();
    }

    function loadData(){
        const response = /*[[ ${response} ]]*/[];
        const params = /*[[ ${params} ]]*/ {};
        const { content, ...pagination } = response;

        drawList(content);

        console.log(pagination);

        drawPage(pagination, params);
    }

    function drawList(list){
        let html = '';

        list.forEach((row) => {
            html += `
                <tr>
                    <td>${row.id}</td>
                    <td>
                        <div class="d-flex justify-content-between">
                            <span style="cursor: pointer" onclick="redirectToExam(${row.id}, '${row.name}')">${row.name}</span>
                            <button onclick="removeSubject(${row.id})" class="btn btn-default" type="button">
                                <img class="" alt="remove" src="/img/trash.svg">
                            </button>
                        </div>
                    </td>
                </tr>
            `;
        });

        document.getElementById('subjectList').innerHTML = html;
    }

    function drawPage(pagination, params) {

        if (!pagination || !params) {
            document.querySelector('.paging').innerHTML = '';
            return;
        }

        let html = '<ul class="pagination">';

        currentPage = pagination.pageable.pageNumber;
        const totalPages = pagination.totalPages;

        // 첫페이지
        if (currentPage > 0) {
            html += `
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0);" onclick="movePage(0)">첫 페이지</a>
                </li>
            `;
        }

        const startPage = Math.max(0, currentPage - 2);
        const endPage = Math.min(totalPages - 1, currentPage + 2);

        for(let i = startPage; i <= endPage; i++){
            if(i === currentPage){
                html += `
                            <li class="page-item active">
                                <a class="page-link">${i + 1} <span class="sr-only">(current)</span> </a>
                            </li>
                        `;
            } else{
                html += `
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0);" onclick="movePage(${i})">${i + 1}</a>
                    </li>
                `;
            }
        }

        if(currentPage < totalPages - 1){
            html += `
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0);" onclick="movePage(${totalPages - 1})">마지막 페이지</a>
                </li>
            `;
        }

        html += `</ul>`;

        document.querySelector('.paging').innerHTML = html;
    }

    function movePage(page){
        const params = {
            page: (page) ? page : 0,
            size: 10,
        }

        location.href = location.pathname + '?' + new URLSearchParams(params).toString();
    }

    function removeSubject(id){
        if(!confirm('정말 삭제하시겠습니까?')){
            return;
        }

        $.ajax({
            type: "DELETE",
            url: '/admin/subject/' + id,
            success: function (data){
                // 삭제 후 re-rendering
                reloadPage();
            }

        })
    }

    function saveSubject(){
        const name = document.querySelector('#newSubjectName').value;

        const subjectCreateRequest = {
            name: name,
        }

        fetch('/admin/subject', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(subjectCreateRequest)
        })
            .then(response => response.json())
            .then(() => {
                reloadPage();
                hideModal();
            })
            .catch(error => {
                console.log(error);
            })
    }

    function hideModal(){
        $('#add-subject-modal').modal('hide');
    }

    function reloadPage(){
        const params = {
            page: currentPage,
            size: 10,
        }
        location.href = location.pathname + '?' + new URLSearchParams(params).toString();
    }

    function redirectToExam(subjectId, subjectName){
        sessionStorage.setItem("subjectId", subjectId);
        sessionStorage.setItem("subjectName", subjectName);

        const baseUrl = window.location.origin;

        window.location.href= `${baseUrl}/admin/exam`;
    }

</script>


</body>
</html>

</body>
</html>